* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0200;
  background-position: top center;
  background-size: 100% auto;
  background-image: url(src/image/BG.jpg);
  background-repeat: no-repeat;
  width: 920px auto;
}

ul {
  list-style: none;
}
h2 {
  color: silver;
  size: 25px;
}
p {
  color: silver;
}

header div {
  display: flex;
  gap: 20px;
  text-align: center;
}

div img {
  border-radius: 25px;
  width: 180px;
}
